#Main{
    width: auto;
}
.navbar,.slide,.sections,.cardss,.testimonial{
    margin: 0 auto;
    width: 1000px;
}
.slide{
    margin-top: 60px;
}
.sections{
    margin-top: 120px;
}
.cardss,.testimonial,.end-dsn{
    margin-top: 90px;
}

#icon{
    width: 20%;
}
 .menu{
    margin: 0 15px;
    
    font-weight: 700;
} 
.baton{
    background-color: 
    #21B573;
    border: none;
    border-radius: 4px;
    
  
}
.speech{
     font-size: 50px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.baton-slide,.crd-bton{
    background-color: 
    #21B573;
    border: none;
    border-radius: 20px;
    
}
.highlight{
    color: 
    #21B573;
}
#start{
    color: brown;
}
.slides img{
    width: 100%;
}
.glow img{
    width: 25%;
}
.glow{
    box-shadow: 2px 4px 3px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
#headings{
    text-align: center;
    color: darkslateblue;
}
.card-footer{
    border-top: none;
}
.card-box{
    border: none;
    box-shadow: 0 3px 8px lightgrey;
}
.testimonial h2{
    text-align: center;
    color: black;
    font-weight: 700;
   
}

.man img{
    width: 80%;
}
.main-tst{
    height: 200px;
}

.end-dsn{    
    color: white;
    margin-left:  3px;
    margin-right: 3px;
    margin-bottom: 4px;
}

.end-dsn ul li{
    list-style: none;
}

.end-dsn .row{
    margin: 0;
    height: 369px;
    background-color: #282531;
    
}
.pera{
    padding: 40px 20px;
}
.lists{
    height: 280px;
      
    display: flex;
    align-items: center;
    
}
.fotar{
    text-align: center;
    margin:  auto 0;
}
.lists ul li:first-child{
    font-size: 17.5px;
    font-weight:700;
    padding: 0;
    
}
.lists ul li{
    padding: 2px;
}